<form action="/todos" method="POST">
  <div class="input-group mb-3">
    <input type="text" placeholder="請輸入待辦事項名稱…" name="name" class="form-control">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>